doctype html
html
  head
    style
      include ./../../../../css/ps/rank/rank.css
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  body
    #rank_content
      h1 Rank Page!
      table#rank_content_table
        tr.rank_row
          th 순위
          th 아이디
          th 맞은 개수
        -for (let i in table) {
        - var j = (parseInt(i) + 1)
          tr.rank_row
            -if(id == table[i].id) {
              td.rank_record_rank= j
              td.rank_record_id= table[i].id
              td.rank_record_count= table[i].count
            - } else {
              td= j
              td= table[i].id
              td= table[i].count
            -}

        -}
